.table-group-header > td {
    border-bottom: none !important;
}


.table-group-header + tr > td {
    border-top: none !important;
}


#filtersContainer {
    padding: 1rem;
    background-color: #f8f9fa; /* Màu nền xám nhạt */
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6;
}

#toggleFiltersButton.active {
    background-color: #e0e0e0;
    border-color: #adb5bd;
}

.filter-dropdown-menu {
    min-width: 280px; /* Độ rộng tối thiểu */
    max-height: 300px; /* Chiều cao tối đa, sau đó sẽ cuộn */
    overflow-y: auto;
}

.filter-options-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

    .filter-options-list li {
        padding: 0.25rem 0.5rem;
    }

    .filter-options-list .form-check-label {
        display: block;
        width: 100%;
        cursor: pointer;
    }
    
.offcanvas-wide {
    width: 600px !important;
}

.offcanvas-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    background-color: #ffffff;
    flex-shrink: 0;
}

.offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
}

.offcanvas.offcanvas-end {
    display: flex;
    flex-direction: column;
}

.ts-control {
    border: 1px solid #dee2e6; 
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    box-shadow: none; 
}

.modal .ts-wrapper.single .ts-control,
.modal .ts-wrapper.single .ts-control input {
    z-index: 1056;
}

.modal .ts-dropdown {
    z-index: 1057; 
}

.ts-control .item[data-value=""] {
    display: none;
}