
body {
    background-image: url(~/img/image.png);
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.forgot-container{
    background-color: #212529;
    padding: 40px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
h2 {
    margin-bottom: 25px;
}
.required {
    color: #ff5e5e; 
}
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    width: 93%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 6px;
    background: #1c1c1c;
    color: #fff;
    margin-bottom: 10px;
}
.forgot-button{
    width: 100%;
    background-color: #2cb57d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
