@page "/specialties"
@model BookingCareManagement.Web.Areas.Admin.Pages.Specialties.SpecialtiesModel
@{
    ViewData["Title"] = "Specialties";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Specialties.css" />
    <style>
        .select2-container--open {
            z-index: 1056; /* Đảm bảo Select2 hiển thị trên modal */
        }
    </style>
}

<div class="main-container">
    <div class="header">
        <h1>Chuyên khoa</h1>
        <div class="header-buttons">
            <button class="btn-add" data-bs-toggle="modal" data-bs-target="#addSpecialtyModal">
                <i class="fas fa-plus"></i>
                Thêm vào chuyên khoa
            </button>
        </div>
    </div>

    <div class="content-card">
        <div class="tabs-container">
            <button class="tab-item active">Chuyên khoa</button>
        </div>

        <div class="main-content1">
            <div class="sidebar1">
                <div class="sidebar1-title">
                    Danh mục <span class="sidebar1-count" id="category-count">(0)</span>
                </div>

                <div id="category-list-container">
                    <div class="p-3 text-center text-muted">Đang tải danh mục...</div>
                </div>

                <button class="btn-add-category" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                    <i class="fas fa-plus"></i>
                    Thêm danh mục
                </button>
            </div>

            <div class="specialties-content">
                <div class="specialties-header">
                    <div class="specialties-title">
                        Tất cả các chuyên khoa <span class="specialties-count" id="service-count">(0)</span>
                    </div>
                    <div class="dropdown">
                        <button class="sort-dropdown dropdown-toggle" ...>
                        </button>
                        <ul class="dropdown-menu" id="sort-options-menu">
                        </ul>
                    </div>
                </div>

                <div class="specialties-table-header">
                    <div></div>
                    <div>Tên</div>
                    <div>Giá</div>
                    <div>Người lao động</div>
                    <div></div>
                </div>

                <div id="service-list-container">
                    <div class="p-3 text-center text-muted">Đang tải dịch vụ...</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSpecialtyModal" tabindex="-1" aria-labelledby="addSpecialtyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSpecialtyModalLabel">Thêm chuyên khoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-service-form">
                    <div class="row g-4">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="modal-form-label">Hình ảnh chuyên khoa</label>
                                    <input type="file" id="specialtyImageInput" hidden accept="image/*">
                                    <div class="specialty-upload-box" id="specialtyUploadBox">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <p>Kéo và thả hoặc <br><a href="#" onclick="document.getElementById('specialtyImageInput').click(); event.preventDefault();">chọn từ tệp</a></p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="mb-3">
                                        <label for="specialtyName" class="modal-form-label">Tên chuyên khoa <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="specialtyName" placeholder="Nhập tên">
                                    </div>
                                    <div class="mb-3">
                                        <label for="specialtyCategory" class="modal-form-label">Danh mục <span class="text-danger">*</span></label>
                                        <select class="form-select" id="specialtyCategory">
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="specialtyColor" class="modal-form-label">Màu sắc</label>
                                        <div class="color-picker-wrapper">
                                            <input type="text" class="form-control" id="specialtyColor" value="#c0eb75">
                                            <div class="color-swatch" style="background-color: #c0eb75;">
                                                <input type="color" value="#c0eb75" oninput="this.previousElementSibling.value = this.value; this.parentElement.style.backgroundColor = this.value;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <label for="specialtyDescriptionEditor" class="modal-form-label">Mô tả</label>
                            <textarea id="specialtyDescriptionEditor" name="specialtyDescriptionEditor" placeholder="Nhập mô tả ở đây ..."></textarea>
                            <small class="form-text text-muted mt-2 d-block">Mô tả sẽ xuất hiện trên trang đặt lịch của bạn.</small>
                        </div>

                        <div class="col-12"><hr class="my-2"></div>

                        <div class="col-md-6">
                            <label for="specialtyDoctors" class="modal-form-label">Bác sĩ <span class="text-danger">*</span></label>
                            <select class="form-select" id="specialtyDoctors" multiple>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="specialtyDuration" class="modal-form-label">Thời gian <span class="text-danger">*</span></label>
                            <select class="form-select" id="specialtyDuration">
                                <option value="" selected>Chọn thời gian</option>
                                <option value="30">30 phút</option>
                                <option value="60">1 giờ</option>
                                <option value="90">1 giờ 30 phút</option>
                                <option value="120">2 giờ</option>
                                <option value="150">2 giờ 30 phút</option>
                                <option value="180">3 giờ</option>
                                <option value="210">3 giờ 30 phút</option>
                                <option value="240">4 giờ</option>
                            </select>
                            <small class="form-text text-muted mt-2 d-block" style="font-size: 12px;">
                                Nếu bạn cần một khoảng thời gian khác...
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="specialtyPrice" class="modal-form-label">Giá <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">₫</span>
                                <input type="text" class="form-control" id="specialtyPrice" placeholder="0.00" value="0.00">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal-cancel" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-add" id="btn-add-service-submit">Thêm vào</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Thêm danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-category-form">
                    <div class="mb-3">
                        <label for="categoryNameInput" class="modal-form-label">Tên danh mục <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="categoryNameInput" placeholder="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal-cancel" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-add" id="btn-add-category-submit">Thêm danh mục</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/SpecialtiesAdmin.js" asp-append-version="true"></script>
}