@page "/forgot-password"
@model BookingCareManagement.Pages.Auth.ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/forgot-password.css">
    <title>Document</title>
</head>

<body>
    <div class="forgot-container">
        <h2>Forgot Your Password?</h2>
        <form id="forgot-form">
            <label for="email"><span class="required">*</span> Email</label>
            <input name="email" type="email" id="email" placeholder="Enter email" required>
            <button type="submit" class="forgot-button">Send Recovery Email</button>
        </form>

        <div class="footer-links">
            <p>Remembered Your Password? <a href="Login">Log In</a></p>
        </div>
    </div>
</body>

</html>