@page "/forgot-password"
@model BookingCareManagement.Pages.Auth.ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/forgot-password.css">
    <title>Quên mật khẩu</title>
</head>

<body>
    <div class="forgot-container">
        <h2>Quên mật khẩu?</h2>
        <form id="forgot-form">
            <label for="email"><span class="required">*</span> Email</label>
            <input name="email" type="email" id="email" placeholder="Nhập email" required>
            <button type="submit" class="forgot-button">Gửi email khôi phục</button>
        </form>

        <div class="footer-links">
            <p>Nhớ mật khẩu? <a href="login">Đăng nhập</a></p>
        </div>
    </div>
    <script src="~/js/auth.js" asp-append-version="true"></script>
</body>

</html>